<html>
<head>
    <title>{{ recipe.name }}</title>

    {% include "head.html" %}

    {% if recipe is not none %}
        <script>
            clipRecipe = function() {
                $.ajax("/api/add", {
                    type: "POST",
                    data: {recipe: JSON.stringify({{ recipe.to_json() }})},
                    dataType: "json",
                    success: function(jqXhr, status) {
                        window.location = "/";
                    },
                    error: function(jqXhr, status, err) {
                        // TODO: Man up
                    });
            };
        </script>
    {% endif %}
</head>

<body>
    {% include "header.html" %}

    {% if recipe is not none %}
        {% include "recipe.html" %}
        <button onclick="javascript: clipRecipe();">Clip</button>
    {% else %}
        Sorry, we couldn't clip that recipe, probably because we don't
        understand how to gather content from {{ url.hostname }}
    {% endif %}

    {% include "footer.html" %}
</body>
</html>
