<!DOCTYPE html>
<html lang="en">
<head>
    <title>Recipes</title>

    {% include "head.html" %}
</head>

<body>
    {% include "header.html" %}

    <div class="container">
        {% for r in recipes %}
            {% if (loop.index0 % 3) == 0 %}
                <div class="row" style="margin-top: 15px">
            {% endif %}

            <a href="/view?id={{ r.key() }}">
                <div class="span4">
                    <img src="{{ r.image }}"/> <br/>
                    {{ r.name }}
                </div>
            </a>

            {% if loop.index0 == 2 or loop.last %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div>
    To make it easier to add recipes, create a bookmark in your browser's
    toolbar with the URL set to the following <br/>

        <code>
            javascript:(function(){window.location = "{{ base_url }}/clip?url=" + window.location;})();
        </code> <br/>
    
    ... then, to clip a new recipe that you're viewing in your browser, click
    on the bookmark in your toolbar.
    </div>

    {% include "footer.html" %}
</body>
</html>
